[class^=icon-]{
    display: inline-block;background-size: contain;background-repeat: no-repeat!important;background-position: 50% 50%!important;font-style: normal;font-size: 0;line-height: 1;vertical-align: middle;
    a > &{vertical-align: top;}
}


.icon-right-arrow-w{
    background: url(../images/icon-arrow-right-w.svg);
    width: 6px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.icon-fintec{
    background: url(../images/icon-fintec.svg);
    width:62px;
    height:62px;
}
.icon-cloud{
    background: url(../images/icon-cloud.svg);
    width:62px;
    height:62px;
}
.icon-bigdata{
    background: url(../images/icon-bigdata.svg);
    width:62px;
    height:62px;
}
.icon-ai{
    background: url(../images/icon-ai.svg);
    width:62px;
    height:62px;
}
[class^=icon-solution]{
    width:73px;
    height:73px;
}
.icon-solution-01{background: url(../images/icon-solution-01.svg);}
.icon-solution-02{background: url(../images/icon-solution-02.svg);}
.icon-solution-03{background: url(../images/icon-solution-03.svg);}
.icon-solution-04{background: url(../images/icon-solution-04.svg);}
.icon-solution-05{background: url(../images/icon-solution-05.svg);}
.icon-solution-06{background: url(../images/icon-solution-06.svg);}
.icon-solution-07{background: url(../images/icon-solution-07.svg);}
.icon-solution-08{background: url(../images/icon-solution-08.svg);}
.icon-solution-09{background: url(../images/icon-solution-09.svg);}


[class^=col]{
    min-width: 1px;
}


ul{
    padding:0;
}


.circle-btn{
    width:92px;
    height:92px;
    line-height: 78px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    
    &:focus{
        box-shadow: none;
    }
}


//모바일 일때 숨김처리
.mobile-hidden{
    @include media-breakpoint-down(md){
        display:none;
    }
}

//웹 일때 숨김처리 
.pc-hidden{
    @include media-breakpoint-up(md){
        display:none;
    }
}


//서브페이지 ==> 컨텐츠 텍스트
.contents__text{
    &--left{
        @include contentsText;
        @include media-breakpoint-down(md){
            margin-top: 40px;
            .sub-title{
                position:relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: -790%;
                    width: 1px;
                    height: 110px;
                    background:$secondary;
                }
            } 
        }
    }
    &--center{
        @include contentsText;
        text-align: center;
        .desc{
            position:relative;
            margin-bottom:300px;
            &::after{
                content:'';
                position:absolute;
                left:50%;
                top: 150%;
                width:1px;
                // height: 8vw;
                height: 168px;
                background:$secondary;
            }
        }
        @include media-breakpoint-down(md){
            margin:auto;
            .desc{
                margin:auto;
                margin-bottom:120px!important;
                max-width: 80%;
                &::after{
                    display: none;
                }
            }
        }
    }
}

//프로젝트(공통) ==> css
.project{
    @include project;
}

b{
    font : {
        weight:800;
    }
}


.form-control{
    &:focus{
        box-shadow: none;
        border:1px solid $border-color;
    }
    resize: none;
    border-radius: 0;
}

.form-group{
    label{
        font : { 
            weight:700;
        }
    }
}
input:focus{
        box-shadow: none!important;
    }
.custom-control{
    .custom-control-label{
        font : {
            size:14px;
            weight : normal;
        }
        position:relative;
        color:$secondary;
        line-height: 24px;
        &::before{
            border:1px solid #ddd!important;
            background: $lightGray!important;
        }

        &::after{
            border-radius: 50%;
            
        }
    }
}
.custom-control-input:focus ~ .custom-control-label::before{
    box-shadow: none;
    background:$white;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after{
    background: url(http://www.w3.org/2000/svg) #b8b7b7 no-repeat 50% center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 7px;
    left: -21px;
}

.btn{
    border-radius: 0!important;
}

.width-120px{width:120px;}
.height-200px{height:200px;}
.overflow-y-scroll{
    overflow-y: scroll;;
}
.border-bottom-2px{
    border-bottom: 2px solid $black;
}

